<%- include('./partials/header') %> <% if (isAuth) { %> <%- include('./partials/navbar') %> <% } %>

<div class="page_container">
  <div class="row">
    <% if (quotes.length < 1) { %>
    <h1 class="d-flex align-items-center justify-content-center text-center no-quote">No quote, add yours</h1>
    <% } else { %> <% quotes.forEach(quote => { %>
    <div style="background-color: #<%= quote.bgColor %>" class="col-md-6 col-lg-4 col-xl-3 col-xxl-2 quote_content p-0">
      <p class="p-2 m-0 d-flex align-items-center justify-content-center text-center h-100"><%= quote.quote %></p>
      <div class="quote-card_bottom d-flex justify-content-between px-2">
        <div class="quote-date">
          <i class="fa-regular fa-clock"></i>
          <span class="time_publish"><%= new Date(quote.createdAt).toLocaleDateString() %></span>
        </div>
        <div class="quote-likes d-flex">
          <form action="/quotes/like" method="post">
            <button type="submit" name="likesBtn" value="<%= quote._id %>" class="bg-transparent border-0 text-white">
              <i class="fa-regular fa-heart"></i>
            </button>
          </form>
          <span><%= quote.likes %></span>
        </div>
      </div>
    </div>
    <% }) %> <% } %>
  </div>
</div>

<%- include('./partials/footer') %>
